/*no seleccionar con el cursor*/
.no-seleccionable {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}

/*botón navbar*/
.navbar-toggler {
   width: 20px;
   height: 20px;
   position: relative;
   transition: .5s ease-in-out;
}
/*eliminar barra toggler*/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
   outline: none;
   box-shadow: none;
   border: 0;
}

.navbar-toggler span {
   margin: 0;
   border: 0;
}

/*creando botón Toggler*/
.toggler-icon {
   display: block;
   position: absolute;
   height: 3px;
   width: 100%;
   background: #d3531a; 
   border-radius: 1px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
}

/*separando barras*/
.middle-bar {
   margin-top: 0px;
}
/*cuando hago click en la barra que sucederá*/
.navbar-toggler .top-bar {
   margin-top: 0px;
   transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
   opacity: 0;
   filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
   margin-top: 0px;
   transform: rotate(-135deg);
}

/* Cuando la hago click en la barra y esta colapsada */
.navbar-toggler.collapsed .top-bar {
   margin-top: -20px;
   transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
   opacity: 1;
   filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
   margin-top: 20px;
   transform: rotate(0deg);
}


/*html*/
header  {
   background-image: radial-gradient( 
      circle 815px at 23.4% -21.8%,  
   rgba(9,29,85,1) 0.2%,
    rgba(0,0,0,1) 100.2% );
   /* background: black; */
}

body {
   background: black;
}

footer {
   background: black;
}

/*navbar*/

.navbar {
   padding-top: 0px;
   transition: all .5s ease-in-out;
}
.navbar-brand {
   font-weight: bold;
   font-size: 1.5rem;
}

.navbar .container-fluid {
   background: black;
}

.carrusel {
   padding-top: 49px;

} 

.nav-link {
   transition: all .45s ease-in-out;
}

.nav-link:hover{
   transform: scale(1.1);
}

.dropdown-item {
   transition: all .45s ease-in-out;
}

.dropdown-item:hover{
   transform: scale(1.1);
   border-radius: 10px;
}


/* nav {
   background-color: rgba(0, 0, 0); 
   background-color: rgba(0, 0, 0, 0.5);
} 

.navbar .container-fluid .navbar-brand .navbar-expand-lg {
   background-color: rgba(0, 0, 0); 
   background-color: rgba(0, 0, 0, 0.5);
}  */

/*Barra Transparente
.navbar-scrolled navbar-brand{
   background-color: black;
   box-shadow: 0 3px 10px rgba(0,0,0,0.15);
   color: black;
}*/

/*Carrusel*/

.carrusel .container {
   margin-top: 20px!important;
   /* margin-left: auto!important ;
   margin-right: auto!important ; */
   
}

.carousel-item img{
   width: 75%;
   border-radius: 5px;
}

/*nosotros*/
.nosotros {
   line-height: 2em;
   padding-top: 20px;
}

.nosotros h2 {
   padding-top: 50px;
   font-size: 2.5rem;
}

.texto-nosotros {
   padding-top: 30px;
   font-size: 1.5rem;
   align-items: center;
}

.logo-imagen {
   padding-top: 50px;
   padding-bottom: 100px;
   width: 90%;
}

/*servicios*/
.card {
   background: #000;
   transition: all .45s ease-in-out;
}

.card-body {
   height: fit-content!important;
}

.card-deck {
   padding-top: 80px;
   margin: 0 auto !important; 
}

.card-deck h2 {
   padding-top: 50px;
   font-size: 2.5rem;
}

.card-title {
   color:#fff;
}

.card-text {
   color:#fff;
   text-align: left;
   font-size: 15px;
   margin: 0;
   height: 100px;
   /* width: 330px; */
}

.servicios h2 {
   padding-top: 80px;
   padding-bottom:80px;
   font-size: 2.5rem;
}

.card-img-top {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   object-fit: cover;
   /* padding-top: 20px;
   padding-bottom: 20px; */
   border-radius: 20px;
   transition: all 0.45s;
}

.card-img-top:hover {
   transform: scale(1.1);
}


.servicios .col-lg-4 img{
   width: 90%;
   height: 300px;
   margin: 0 !important;
   
}
/*servicios*/


/*Contacto*/
.contacto h2 {
   padding-top: 50px;
   font-size: 2.5rem;
}

.icon {
   position: absolute;
   top: calc(50%);
   left: 0.8rem;
}

.form-floating label, .form-floating .form-control {
   left: 1.25rem;
   padding-left: 2.5rem;
}

.icon-textarea {
   position: absolute;
   top: 1.9rem;
   left: 0.8rem;
}
/*Contacto*/

/*footer*/
.footer .divider  {
   border-top: 1px solid #fff;
   height: 2px;
   padding: 0;
   margin: 20px auto 0 auto;
}
/*footer*/

/*galería de fotos*/
#galeria .col-lg-4 {
   margin: 0 !important;
   padding: 15px;
}

#galeria img {
   
   
   width: 100%;
   height: 300px;
   transition: all .4s ease-in-out;
   }

#galeria img:hover {
   
   /* border: 5px solid #f7f7f7; */
   transform: scale(1.1);
}
/*galería de fotos*/
